# other
.DS_Store
tmp
backups
scripts/config.sh

# Eclipse, Ant, Maven
bin
gen
target

# Django
*.pyc
django-winenotes/sqlite3.db

# Android
local.properties

# release, signing
/keys/

# Intellij project files
#*.iml
#*.ipr
#*.iws
.idea
*.iml

# gradle files
.gradle
build
/gradle
/gradlew
/gradlew.bat
