.DS_Store
bin
gen
target
tmp
*.pyc
local.properties
winenotes-full/keys/
winenotes-lite/keys/
# Intellij project files
#*.iml
#*.ipr
#*.iws
# some files are added though, on purpose
.idea
out
backups
